@charset "utf-8";
a,img{display: block; width: 100%;}
.page.index{background-color: #fff;}
.nav{position: absolute; height: 100%; top: 0; right: 0; padding-right: 1.1vw;}
.nav a{width: 9vw; float: left; height: 100%;}
.index-banners{position: relative;}
.index-part{margin-top: 1.5rem; position: relative; margin-left: 0.5rem; margin-right: 0.5rem; padding-bottom: 1.2rem;}
.border-top{width: 100%; height: 12.13vw; position: absolute; background: url("../img/border-top.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.border-bottom{width: 100%; height: 11.33vw; background: url("../img/border-bottom.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; bottom: 0; left: 0; position: absolute;}
.border-left{width: 0.4vw; position: absolute; top: 12.13vw; left: 0; bottom: 11.33vw; background: url("../img/border-left.png") repeat-y; -webkit-background-size: 100% auto; background-size: 100% auto;}
.border-right{width: 0.4vw; position: absolute; top: 12.13vw; right: 0; bottom: 11.33vw; background: url("../img/border-right.png") repeat-y; -webkit-background-size: 100% auto; background-size: 100% auto;}
.index-part-title{width: 18.93vw; position: absolute; left: 50%; top: 0; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.part-content{padding: 3.867vw 0.4vw 0.65rem;}
.news-title,.word-card-title{color: #202468; font-size: 0.8rem; font-weight: bold; line-height: 1rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.news-bottom{font-size: 0.6rem; color: #989898;}
.video-pic{height: 52.8vw; overflow: hidden;}
.video-pic img{min-height: 100%;}
.news-video{padding-bottom: 0.5rem; position: relative; margin-bottom: 0.5rem;}
.news-video:after{position: absolute; content: ""; height: 0.125rem; left: 0.4rem; bottom: 0; right: 0.4rem; background: url("../img/index-line.png") no-repeat center center; -webkit-background-size: 100% auto; background-size: 100% auto;}
.video-time{position: absolute; font-size: 0.6rem; color: #cdba9d; right: 3%; bottom: 7%;}
.pic-num{background: url("../img/pic-icon.png") no-repeat 0.3rem center; -webkit-background-size: auto 0.5rem; background-size: auto 0.5rem; text-indent: 0.9rem;position: absolute; width: 2rem; padding: 0.15rem 0.3rem 0.15rem 0; bottom: 5%; right: 1%; color: #cdba9d; font-size: 0.6rem; text-align: right; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.news-video .news-word{ padding:0 0.4rem; }
.news-video .news-title{padding: 0.4rem 0 0.35rem;}
.index-video-btn{width: 10vw; height: 10vw; position: absolute; left: 50%; top: 23vw; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); background: url("../img/video-btn.png") no-repeat center center; -webkit-background-size:contain; background-size:contain;}
.word-card{padding: 0.5rem; position: relative;}
.word-card a{width:100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch;}
.word-card-img{ font-size: 0; width: 33.3%;  height: 22vw; overflow: hidden; }
.card img{height: 100%;}
.word-card-words{ width: 66.6%; padding-left: 0.4rem; position: relative; padding-top: 0.1rem;}
.word-card-content{font-size: 0.6rem; color: #202468; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis;}
.word-card-title{font-size: 0.8rem; height: 1.2rem;}
.word-card .word-card-bottom{position: absolute; line-height: 0.6rem; bottom: -0.1rem; right: 0; left: 0.3rem; font-size: 0.525rem; color: #989898;}
.index-more-btn{position: absolute; right: -0.3vw; bottom: 0.1vw; width: 16.1vw; height: 6vw; background: url("../img/index-more.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
.index-banners.mt75,.active-part,.magazine-part{margin-left: 0.5rem; margin-right: 0.5rem;}
.mt75{margin-top: 0.75rem;}
.banner2-btn{width: 16.4vw; height: 6.13vw; background: url("../img/banner2-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; bottom: 3vw; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}
.index-rank{margin: 0.875rem 0.5rem 0;}
.rank-btn{width: 11.067vw; height: 4.27vw; position: absolute; left: 2%; bottom: 9%; background: url("../img/index-rank-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
/*==活动信息==*/
.active-part{margin-top: 1.5rem; position: relative;}
.active-part .index-news-list{padding-left: 0.5rem; padding-right: 0.325rem;}
.active-part .word-card-title{font-size: 0.75rem;}
.active-part .word-card-bottom{bottom: 0.1rem; font-size: 0.45rem; color: #999999;}
.active-part .news-date{margin-left: 1rem;}
.active-part .word-card-img{border: 2px solid #b90d23;}
.active-part .index-more-btn{background: url("../img/index-active-more.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
/*==安仁杂志==*/
.magazine-part{margin-top: 1.5rem; position: relative;}
.magazine-content{padding: 7.33vw 0.65rem 1.5rem;}
.magazine-top{width: 100%; height: 0.1rem;}
.index-magazine-btn{width: 16.1vw; height: 6vw; background: url("../img/index-active-more.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; left: 50%; margin-left: -8.05vw; bottom: -0.5rem;}
.magazine-part .magazine-content img{height: 44.13vw;}
/*==游览==*/
.index-way{margin:1.25rem 0.5rem 0; position: relative;}
.index-way-btn{width: 15.73vw; height: 6.13vw; background: url("../img/index-way-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; left: 50%; margin-left: -7.865vw;  bottom: 4%;}
.index-mall{margin: 0.75rem 0.2rem 0; position: relative;}
.index-mall .index-way-btn{bottom: -2vw;}
.index-links{width: 67.33vw; margin: 1.5rem auto 0; position: relative;}
.index-link{width: 11vw; height: 100%; position: absolute; top: 0;}
.index-link:nth-of-type(1){left: 0;}
.index-link:nth-of-type(2){left: 28%;}
.index-link:nth-of-type(3){left: 56%;}
.index-link:nth-of-type(4){left: 84.5%;}
.to-top{margin-top: 0.1rem; width: 1rem; height: 1rem; background: url("../img/toTop.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; margin-right: 0.5rem;}
.index-bottom{margin: 0.25rem 0.5rem 0; height: 45.6vw; background: url("../img/index-bottom.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
/*==sidebar==*/
.sidebar{position: absolute; left:100%; width: 100%; height: 100%; top: 0; bottom: 0; z-index: 999; display: none; background-color: #fff; opacity: 0;}
.sidebar-inner{position: absolute; width: 100%; left: 0%; top: 0; bottom: 0.1rem; }
.sidebar.show{left: 0;}
.sidebar-bg{min-height: 100vh; width: 100%; background: url("../img/sidebar-bg.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; padding-top: 1.5rem; padding-bottom: 1rem; position: relative;}
.sidebar-lists{width: 100%; padding-bottom: 3.5rem;}
.sidebar-lists li{text-align: center; height: 2.2rem; line-height:2.2rem;width: 91.3%; margin: 0 auto;}
.sidebar-lists li:not(:last-child){border-bottom: 1px solid #e1cdb1;}
.sidebar-lists a{color: #c49c63; font-size: 0.85rem; }
.sidebar-back{width: 2rem; height: 2rem; background: url("../img/index-back.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; top: 26rem; right: 10%;}
/*==搜索==*/
.search .content{padding: 0 2.6vw 3rem;}
.search .word-card-title{white-space: normal; height: auto;}
.search #list-wrapper{margin-top: -0.3rem;}
.search-top{width: 100%; height: 8.67vw; margin: 0.325rem auto 0.7rem; background: url("../img/search-top.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; padding: 0 9.3vw;}
.search-btn{position: absolute; width: 9vw; height: 100%; left: 0; top: 0;}
.toIndex{position: absolute; width: 9vw; height: 100%; right: 0; top: 0;}
.search-top input{font-size: 0.65rem; color: #898989; width: 90%; height: 100%;}
.history-title{width:100%; height: 0.8rem; line-height: 0.8rem; margin: 0 auto; font-size: 0.65rem; color: #333333; }
.title-left{height: 100%; padding-left: 1.25rem; background: url("../img/search-history.png") no-repeat left center; -webkit-background-size: auto 100%; background-size: auto 100%;}
.history-delete{float: right; width: auto; color: #333333;}
.search-words{width: 100%; margin: 0 auto;}
.search-lists{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;-webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;overflow: hidden; margin-left: -0.7rem; max-height: 3.7rem;}
.search-item{width: auto; height: 1.2rem; line-height: 1.1rem;font-size: 0.6rem; color: #595959; text-align: center; padding: 0 0.45rem; margin-top: 0.6rem; margin-left: 0.7rem; box-sizing: border-box;}
.topBorder{height: 0.15rem; position: absolute; top: -0.1rem; left: 0.15rem; right: 0.15rem; background: url("../img/topBorder.png") repeat-x; -webkit-background-size: auto 100%; background-size: auto 100%;}
.bottomBorder{height: 0.16rem; position: absolute; bottom: 0; left: 0.1rem; right: 0.1rem; background: url("../img/bottomBorder.png") repeat-x; -webkit-background-size: auto 100%; background-size: auto 100%;}
.leftBorder{ position: absolute; bottom: 0; top: -0.1rem; left: -0.1rem; width: 0.25rem; background: url("../img/leftBorder.png") no-repeat; -webkit-background-size: auto 100%; background-size:auto 100%;}
.rightBorder{ position: absolute; bottom: 0; top: -0.1rem; right: -0.1rem; width: 0.25rem; background: url("../img/rightBorder.png") no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%;}
.search-hot{margin-top: 2rem;}
.sesrch-hot-left{height: 100%; padding-left: 1.25rem; background: url("../img/hot-search.png") no-repeat left center; -webkit-background-size: auto 100%; background-size: auto 100%;}
.search-hot-words{margin-top: 0.7rem;}
.search-hot-words a{position: absolute; width: 13%; height: 100%; top: 0;}
.search-hot-words a:nth-of-type(1){left: 0;}
.search-hot-words a:nth-of-type(2){left: 21%;}
.search-hot-words a:nth-of-type(3){left: 44%;}
.search-hot-words a:nth-of-type(4){left: 66%;}
.search-hot-words a:nth-of-type(5){left: 87%;}