@charset "utf-8";
a{display: block;}
.to-top{width: 8.3vw; height: 8.3vw; background: url("../img/toTop.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; bottom: 8%; right: 3%; display: none;}
/*==商城首页==*/
#mall-index-top img{height: 53.6vw;}
.m-index-content{position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0,0,0,0.57); padding-top: 15.6vw; z-index: 66;}
.m-index-content p{text-align: center; color: #fff;}
.m-top-title{font-size: 1rem;}
.m-top-subhead{font-size: 0.675rem; margin: 0.5rem auto 0.75rem;}
.m-index-content>a{display: block; width: 17.6vw; height: 6.3vw; margin: 0 auto; background: url("../img/mall-top-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
.m-search{position: absolute; width: 94.8vw; left: 2.6vw; top: 3.33vw; border: 1px solid #fff; height: 8.53vw; -webkit-border-radius: 8.53vw; -moz-border-radius: 8.53vw; border-radius: 8.53vw; z-index: 90;padding: 0 2.67vw; background-color: rgba(0,0,0,0.1);}
.m-search-btn{width: 6vw; height: 100%; background: url("../img/m-search.png") no-repeat left center; -webkit-background-size: 80% auto; background-size: 80% auto;}
.m-search-cancel{width: 6vw; height: 100%; background: url("../img/m-search-cancel.png") no-repeat right center; -webkit-background-size: 80% auto; background-size: 80% auto;}
.m-search input{height: 100%; flex: auto; width: 0; margin: 0 10vw 0 2vw; font-size: 0.65rem; color: #fff; }
.mall-class{padding: 0.75rem 0; border-bottom: 1px solid #e0e1e1;}
#mall-index-new .swiper-slide img{height: calc((100vw - 60px) / 3.44);}
#mall-index-class .swiper-slide img{height: calc((100vw - 60px) / 3.44);}
#mall-index-class p,#mall-index-new p{position: absolute; width: 100%; height: 1.5rem; line-height: 1.5rem; text-align: center; left: 0;top: 50%; margin-top: -0.75rem; font-size: 0.75rem; color: #fff; text-shadow: -2px 1px 1px #000;}
.mall-new{padding: 0.75rem 0 0;}
.mall-anren{font-size: 0.75rem; color: #333333; text-align: center; width: 100%; height: 1.75rem; line-height: 1.75rem; position: relative; margin-bottom: 0.25rem;}
.mall-anren:before{content: ''; position: absolute; height: 0.75rem; left: 0.5rem; right: 50%; margin-right: 0.9rem; top: 0.5rem; background: url("../img/mall-anren.png") no-repeat left center; -webkit-background-size: 221% 100%; background-size: 221% 100%;}
.mall-anren:after{content: ''; position: absolute; height: 0.75rem; left: 50%; margin-left: 0.8rem; right: 0.5rem; top: 0.5rem; background: url("../img/mall-anren.png") no-repeat right center; -webkit-background-size: 221% 100%; background-size: 221% 100%;}
.mall-index-list{margin-bottom: 0.7rem;}
.mall-index-list img{width: 100%; height: 44.23vw;}
.m-i-title{height: 2.1rem; line-height: 2.2rem; font-size: 0.85rem; color: #333333; padding: 0 0.75rem;}
.m-i-content{font-size: 0.6rem; color: #999999; padding: 0 0.75rem; line-height: 0.9rem;}
/*==新品推荐==*/
.mall-new .bar{position: absolute; width: 100%; left: 0; top: 0; background-color: #f0f0f0; z-index: 100;}
.mall-new .container{top: 1.8rem;}
.new-list{height: 1.8rem; line-height: 1.8rem; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; padding: 0 0.6rem;}
.new-list img{width: 1.35rem; height: 1.35rem; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 0.5rem;}
.new-pics p{font-size: 0.6rem; color: #333; margin-right: 0.5rem;}
.m-n-top{display: none;}
.m-n-top .new-list{height: 2.35rem;}
.m-n-top p{margin-left: 0.85rem; color: #333; font-size: 0.75rem;}
.mall-new .container{top: 1.8rem;}
.m-n-title{padding: 0 0.5rem; color: #000; font-size: 1rem; height: 2.45rem; line-height: 2.45rem;}
.m-p-content{padding: 0 0.5rem 1rem;}
.m-p-list{margin-bottom: 1.45rem;}
.m-p-list>p{color: #333333; font-size: 0.75rem; line-height: 1.2rem; margin-bottom: 1rem;}
.m-p-content img{width: calc(100% + 1rem); margin-left: -0.5rem; margin-right: -0.5rem;}
.m-n-link{border: 1px solid #656565; width: 65.33vw; margin: 0 auto; padding: 4vw; position: relative;}
.m-n-link img{width: 13.73vw; height: 13.73vw; position: absolute; left: 4vw; top: 50%; margin-top: -6.86vw;margin-left: 0; margin-right: 0;}
.m-n-right{padding-left: 18.267vw; font-size: 0.75rem;}
.m-n-name{color: #333; margin-bottom: 0;}
.m-n-bottom{height: 1.05rem; line-height: 1.05rem; margin-top: 3vw; margin-bottom: 0;}
.m-n-price{float: left; color: #923333;}
.m-n-btn{float: right; font-size: 0.65rem; background-color: #923333; color: #fff; height: 100%; padding: 0 0.3rem;}
/*==商品详情==*/
.bottom-bar{height: 2rem; width: 100%; background-color: #1a2954; position: absolute; bottom: 0;left: 0; padding: 0 0.3rem;}
.bottom-bar+.container{bottom: 2rem;}
#detail-swiper .swiper-slide{position: relative;}
#detail-swiper p{position: absolute; font-size: 0.8rem; color: #fff; text-align: center; width: 2rem; height: 2rem; line-height: 2rem; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-color: rgba(0,0,0,0.8); right: 1.25rem; bottom: 0.5rem;}
.detail-info{font-size: 1rem; padding:  1rem; border-bottom: 0.5rem solid #e0e1e1;}
.info-name{color: #333; line-height: 1.3rem;}
.info-price{color: #923333; margin-top: 0.6rem;}
.d-tab-box{height: 2.4rem;}
.d-tab-controller{height: 2.4rem; width: 100%; line-height: 2.4rem; border-bottom: 1px solid #e0e1e1; background-color: #fff;}
.d-tab-controller.fixed{position: fixed; top: 0; left: 0; z-index: 101;}
.d-tab-controller li{flex: 1;}
.d-tab-controller a{font-size: 0.75rem; color: #333333; text-align: center; width: 3.2rem; margin: 0 auto;  height: 2.4rem; border-bottom: 0.2rem solid transparent;}
.d-tab-controller li.active a{border-bottom: 0.2rem solid #923333;}
.detail-desc{padding-bottom: 1.3rem;}
.detail-desc-box{color: #333; padding-top: 1.4rem;}
.detail-desc-title{font-size: 0.65rem; text-align: center;}
.detail-desc-titleE{font-size: 0.45rem; text-align: center; margin-top: 0.2rem;}
.m-detail-params{padding: 0 0.8rem; margin-top: 0.65rem;}
.m-detail-params li{height: 1.75rem; line-height: 1.75rem; font-size: 0.65rem; padding: 0 0.5rem;}
.m-detail-params li:nth-of-type(even){background-color: #e0e1e1;}
.m-detail-params li span:nth-of-type(1){float: left;}
.m-detail-params li span:nth-of-type(2){float: right;}
.m-record-item{padding: 0 1rem 0 2.25rem; position: relative; margin-top: 0.5rem;}
.m-record-header{width: 1.3rem; line-height: 1.3rem; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; position: absolute; left: 0.6rem; top: 0;}
.m-record-name{font-size: 0.6rem; color: #036e8d; margin-left: 0.2rem; height: 1.4rem;line-height: 1.4rem;}
.m-record-main{font-size: 0.65rem; line-height: 1rem; }
.m-record-btn{width: 4.2rem; height: 1.025rem;  margin: 0.85rem auto 0; background: url("../img/m-record-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
.m-d-desc{padding: 0.3rem 1rem; font-size: 0.65rem; color: #333; line-height: 1rem;}
.m-d-desc p{margin-top: 0.5rem;}
.detail-bottom{ height: 100%;}
.to-car-btn{width: 2.75rem; height: 1.25rem; background: url("../img/car-icon.png") no-repeat center center; -webkit-background-size: auto 100%; background-size: auto 100%; border-right: 0.1rem solid #bd9563; margin-top: 0.37rem;}
.add-car-btn{font-size: 0.65rem; color: #bd9563; height: 100%; line-height: 2rem; padding-left: 0.75rem;}
.detail-buy-btn{color: #1a2954; font-size: 0.65rem; background-color: #bd9563; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; height: 1.5rem; line-height: 1.5rem; width: 4.15rem; text-align: center; margin-top: 0.25rem;}
.crash{position: absolute;width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0,0,0,0.5); z-index: 200;}
.detail-car{position: absolute; left: 0; bottom: 0; width: 100%; background-color: #fff; z-index: 205;}
.d-c-img{width: 15vw; height: 15vw; position: absolute; left: 1.5rem; top: -6.5vw;}
.d-c-title{text-align: left; height: 2rem; line-height: 2.3rem; color: #333; font-size: 0.9rem; margin-bottom: 0.5rem; padding: 0 1.125rem; text-indent: calc(15vw + 1.3rem);}
.d-c-price{color: #923333; font-size: 1rem; padding: 0 1.5rem; height: 1.4rem; line-height: 1.4rem;}
.d-c-info{padding: 0 1.125rem; font-size: 0.6rem; height: 1.2rem; color: #333; margin-top: 0.55rem; margin-bottom: 0.55rem;}
.d-c-info>span{margin-left: 0.4rem; line-height: 1.2rem;}
.detail-speci-item{margin-left: 0.7rem; position: relative;}
.detail-speci-word{display: block; border: 1px solid #333333; padding: 0 0.25rem; height: 1rem; line-height: 0.9rem;margin-top: 0.1rem;}
.detail-speci-input{position: absolute; opacity: 0;width: 100%; height: 100%; left: 0; top: 0;}
.detail-speci-input:checked+.detail-speci-word{color: #923333; border-color: #923333;}
.d-c-num{margin-left: 1.6rem;}
.de-num{float: left; width:0.9rem; height: 1.2rem; }
.de-num-dec{background: url("../img/num-des.png") no-repeat center center; -webkit-background-size: 100% auto; background-size: 100% auto;}
.de-num-add{background: url("../img/num-add.png") no-repeat center center; -webkit-background-size: 100% auto; background-size: 100% auto;}
.de-num-show{width: 1.85rem; height: 100%; line-height: 1rem; color: #333; font-size: 0.75rem; float: left; text-align: center;}
.d-car-btn,.m-return-btn{height: 2rem; line-height: 2rem; font-size: 1rem; text-align: center; color: #bd9563; background-color: #1a2954;}
.de-car-crash{display: none; background-color: transparent; z-index: 202;}
.hint{width: 50%; background-color: rgba(0,0,0,0.7); position: absolute; left: 25%; top: 30%; -webkit-border-radius: 0.4rem; -moz-border-radius: 0.4rem; border-radius: 0.4rem; display: none;}
.hint.succ .succ{display: block;}
.hint.succ .error{display: none;}
.hint.error .succ{display: none;}
.hint.error .error{display: block;}
.hint img{width: 2rem; margin: 2rem auto 0;}
.hint p{font-size: 0.75rem; color: #fff; height: 3.25rem; line-height: 3.25rem; text-align: center;}
/*==购物车==*/
.car-all-btn{height: 100%; line-height: 2rem; font-size: 0.65rem; color: #bd9563; position: relative; padding-left: 1.5rem;}
.car-all-btn input{width: 0.75rem; height: 0.75rem; -webkit-border-radius:50%; -moz-border-radius:50%;border-radius:50%; background-color: #cdc7b9; position: absolute; top: 50%; margin-top: -0.38rem; left: 0.3rem;}
.car-all-btn input:checked{background: no-repeat center center; background-color: #963333; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E"); color: #923333; -webkit-background-size: 90% auto; background-size: 90% auto; }
.car-count{line-height: 2rem; color: #bd9563; font-size: 0.65rem; margin-right: 0.75rem;}
.car-all{height: 1.625rem;padding-left: 0.6rem; border-bottom: 1px solid #e0e1e1; line-height: 1.625rem;}
.car-check{font-size: 0.6rem; color: #333333; padding-left: 1.25rem;}
.car-checkbox,.car-all input[type="checkbox"]{width: 0.75rem; height: 0.75rem; -webkit-border-radius:50%; -moz-border-radius:50%;border-radius:50%; background-color: #cdc7b9; margin-right: 0.6rem;}
.car-input-w{height: 100%;}
.car-all input{margin-top: 0.42rem;}
.car-all input:checked,.car-checkbox:checked{background: no-repeat center center; background-color: #963333; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E"); color: #923333; -webkit-background-size: 90% auto; background-size: 90% auto; }
.car-edit{font-size: 0.6rem; color: #333; height: 1rem; line-height: 1rem; width: 2.125rem; text-align: center; border-left: 1px solid #e0e1e1; margin-top: 0.3rem;}
.car-item{border-bottom: 1px solid #e0e1e1; height: 3.5rem; padding: 0.5rem 1rem 0.4rem 0.6rem;display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; position: relative;}
.car-checkbox{margin-top: 0.9rem;}
.car-img{width: 2.65rem; height: 2.65rem;}
.car-info,.car-item-edit{width: 0; flex: auto; padding-left: 0.5rem; position: relative;}
.car-item-edit{display: none;}
.car-info-title{color: #333333; font-size: 0.7rem; height: 0.75rem; line-height: 0.75rem;}
.car-info-speci{color: #999999; font-size: 0.5rem; margin-top: 0.3rem;}
.car-info-line3{ height: 0.75rem; line-height: 0.75rem; margin-top: 0.1rem;}
.car-info-price{font-size: 0.6rem;color: #923333; float: left;}
.car-info-num{font-size: 0.5rem; color: #999999; float: right;}
.car-item-link{position: absolute; height: 100%; left: -2.65rem; right: 0; top: 0;}
.car-item-edit{padding-right: 1.6rem;}
.car-item-edit .d-c-info{padding: 0; font-size: 0.55rem; margin-bottom: 0;}
.car-item-edit .d-c-info>span{margin-left: 0;}
.car-item-edit .detail-speci-item{margin-left: 0.6rem;}
.car-item-edit .de-num-show{font-size: 0.7rem;}
.car-item-delete{font-size: 0.65rem;color: #ffffff; background-color: #923333; height: 3.5rem; width: 2.5rem; text-align: center; line-height: 3.5rem; position: absolute; right: -1rem; top: -0.5rem; }
/*==购买==*/
.buy-count{line-height: 2rem; color: #bd9563; font-size: 0.65rem; text-align: center; width: 100%; display: block;}
.buying .detail-buy-btn{position: absolute; right: 0.3rem; top: 0;}
.buy-address a{padding: 0.625rem 0.9rem 0.625rem 0.85rem; position: relative; border-bottom: 0.3rem solid #f0f0f0;}
.buyer-name{font-size: 0.75rem; color: #333; padding-left: 1rem;}
.buyer-name span{font-size: 0.55rem; margin-left: 1.7rem;}
.buyer-addre{font-size: 0.55rem; color: #333; padding-left: 1rem; max-width: 60vw; margin-top: 0.5rem; background: url("../img/mall-add.png") no-repeat left top; -webkit-background-size: 0.6rem auto; background-size: 0.6rem auto; background-position-y: 0.1rem; line-height: 0.9rem;}
.buyer-arrow{position: absolute; width: 0.5rem; height: 0.75rem; background: url("../img/mall-arrow.png") no-repeat center center; -webkit-background-size:contain;background-size:contain; top: 50%; margin-top: -0.375rem; right: 0.9rem;}
.buy-shop{height: 1.625rem;line-height: 1.625rem;padding-left: 0.9rem; border-bottom: 1px solid #e0e1e1; font-size: 0.65rem; color: #333;}
.mall-buy{margin-top: 0.2rem;}
.mall-buy-p{font-size: 0.65rem; color: #333; padding-left: 0.925rem; padding-right: 0.45rem;display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; height: 1.75rem; line-height: 1.75rem; border-bottom: 1px solid #e0e1e1;}
.mall-buy-p .car-checkbox{margin-top: 0;}
.mall-buy-p .buy-way-word{width: 0; flex: auto; text-align: right; font-size: 0.6rem;}
.buy-way-price{width: 3.65rem; text-align: right; font-size: 0.6rem;}
.mall-buy-money{font-size: 0.65rem; color: #666;}
.mall-buy-count{font-size: 0.75rem; color: #333; height: 1.95rem;}
.mall-buy-count .buy-way-price{color: #923333; font-weight: bold;}
.mall-buy-text{width: 100%; height: 3.5rem; padding: 0 0.925rem; margin-top: 1.25rem; margin-bottom: 2rem; position: relative;}
.mall-buy-text:before{content: ''; position: absolute; width: 1.35rem; height: 1.35rem; background: url("../img/enter-icon.png") no-repeat left center; -webkit-background-size: 100% auto; background-size: 100% auto;background-position: left 98.5%; left: 0.8rem; top: -0.3rem;}
.text-placeholder{position: absolute; font-size: 0.65rem; color: #333; top: 0; left: 2.3rem;}
.buy-textarea{display: block; background: transparent url("../img/mall-line.png") repeat-y top center; -webkit-background-size: 100% 1.1rem; background-size: 100% 1.1rem; resize: none; height: 3.5rem; font-size: 0.65rem; color: #333; line-height: 1.1rem; text-indent: 1.4rem; position: absolute; left: 0.925rem; top: 0; right: 0.925rem; width: calc(100% - 1.85rem); }
.buy-textarea::-webkit-input-placeholder{font-size: 0.65rem; color: #333;}
/*==地址==*/
.address .detail-bottom a{height: 100%; line-height: 2rem; font-size: 0.65rem; color: #bd9563; padding: 0 0.35rem;}
.address-item{border-bottom: 1px solid #f0f0f0;padding: 0.25rem 0;display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between;}
/*.address-default{}*/
.address-item.address-default{border-bottom: 0.4rem solid #f0f0f0;padding: 0;}
.address-link{width: 0; flex: auto;padding: 0.65rem 0 0.2rem 0.5rem; }
.add-check-icon{width: 14.3vw; max-width: 2.7rem; background: url("../img/mall-add-check.png") no-repeat right center; -webkit-background-size: 88% auto; background-size: 88% auto; display: none;}
.add-check-delete{width: 14.3vw; max-width: 2.7rem; background: url("../img/addre-delete.png") no-repeat right center; -webkit-background-size: 90% auto; background-size: 90% auto; display: none;}
.address-edit{ width: 2.2rem; border-left: 1px solid #e0e1e1; background: url("../img/addre-edit.png") no-repeat center center; -webkit-background-size: 1.1rem auto; background-size: 1.1rem auto;}
.address-item .buyer-name{ padding-left: 0; padding-right: 0.3rem;}
.address-item .buyer-addre{line-height: 0.875rem; background: none; padding-left: 0; padding-bottom: 0.5rem;}
.address-item.address-default .buyer-addre{padding-bottom: 0;}
.add-checked .buyer-name,.add-checked .buyer-addre span{color: #923333;}
/*.address-item.add-checked{padding-left: 2.5rem; position: relative;}*/
.address-item.add-checked .add-check-icon{display: block;}
/*==修改地址==*/
.a-e-inputs{display: block; height: 2.1rem; border-bottom: 1px solid #e8e8e8; width: 100%; font-size: 0.75rem; color: #333; padding: 0 1.25rem;background-color: #fff;}
.a-e-textarea{display: block;border-bottom: 1px solid #e8e8e8; width: 100%; font-size: 0.75rem; color: #333; padding: 0.5rem 1.25rem 0.5rem; height: 3.75rem; background-color: #fff;}
.mall-address-edit{background-color: #f0f0f0;}
.a-e-checkbox{margin-top: 0.2rem;  height: 2.1rem; line-height: 2.1rem; background-color: #fff;font-size: 0.75rem; color: #979797; display: block;width: 100%; padding: 0 0.75rem 0 1.25rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.mall-address-edit .car-checkbox{margin-top: 0.675rem;}
.a-e-btn{width: 3.2rem; height: 1.25rem; background: url("../img/submit-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; bottom: 15%; left: 50%; margin-left: -1.6rem;}
.area_ctrl{background-color: #fff;}
.area_btn_box{background-color: #1a2954;}
.area_btn{font-size: 0.65rem; color: #bd9563;}
/*==全部订单==*/
.bgG{background-color: #f0f0f0;}
.coR{color: #923333;}
.m-top{position: absolute; width: 100%; height: 1.6rem; left: 0; top: 0; z-index: 99;}
.m-top+.container .content{padding-top: 1.6rem; padding-bottom: 1rem;}
.m-top .d-tab-controller{background-color: #fff; height: 1.6rem; border-bottom: none;}
.m-top .d-tab-controller a{height: 1.6rem; line-height: 1.6rem; font-size: 0.7rem; color: #666666; width: 2.75rem;}
.order-item{background-color: #fff; margin-top: 0.5rem;}
.order-title{padding: 0 1.25rem 0 0.85rem; height: 1.6rem; line-height: 1.6rem; font-size: 0.65rem; color: #333;}
.order-item .car-item{background-color: #f7f8f8; height: 4.15rem;}
.order-item .car-info-title{font-size: 0.8rem;}
.order-item .car-info-speci{font-size: 0.57rem; margin-top: 0.2rem;}
.order-item .car-info-price{font-size: 0.7rem;}
.order-item .car-info-line3{margin-top: 0.4rem;}
.order-item .car-img{width: 3.05rem; height: 3.05rem;}
.order-item .car-info-num{font-size: 0.6rem;}
.order-item .car-item-link{right: 4rem; left: -3.1rem;}
.order-price{font-size: 0.5rem; color: #727171; text-align: right; line-height: 0.9rem; padding: 0.3rem 1rem; border-bottom: 1px solid #e8e8e8;}
.order-money{padding-right: 1rem; font-size: 0.7rem; color: #333; height: 1.25rem; line-height: 1.25rem; border-bottom: 1px solid #e8e8e8; text-align: right;}
.order-links{padding: 0.5rem 1rem;}
.order-links a+a{margin-right: 0.75rem;}
.btn-2{font-size: 0.7rem; width: 2.8rem; text-align: center; height: 1.25rem; line-height: 1.2rem; -webkit-border-radius: 1.25rem; -moz-border-radius: 1.25rem; border-radius: 1.25rem;}
.btn-4{font-size: 0.7rem; width: 3.75rem; text-align: center; height: 1.25rem; line-height: 1.2rem; -webkit-border-radius: 1.25rem; -moz-border-radius: 1.25rem; border-radius: 1.25rem;}
.color-y{color: #bd9563; border: 1px solid #bd9563;}
.color-r{color: #923333; border: 1px solid #923333;}
.color-b{color: #595757; border: 1px solid #595757;}
.order-btn{position: absolute; right: 0; top: -0.1rem;}
.del-crash{display: none;}
.del-order{width: 13.8rem; max-width: 74vw; position: absolute; left: 50%; margin-left: -6.9rem; top: 35%; background-color: #fff; border-radius: 0.25rem; text-align: center; padding-top: 1.25rem;}
.del-order p:nth-of-type(1){font-size: 0.9rem; color: #923333;}
.del-order p:nth-of-type(2){font-size: 0.75rem; color: #595757; margin-top: 0.75rem;}
.del-links{margin-top: 1.6rem; border-top: 1px solid #cccccc;}
.del-order a{width: 50%;height: 1.9rem; line-height: 1.9rem; color: #333333; font-size: 0.7rem;}
.del-order a+a{border-left: 1px solid #ccc;}
/*==物流==*/
.dis-com{font-size: 0.6rem; color: #727171;padding: 0.5rem 0.5rem 0; background: #fff url("../img/dis-icon.png") no-repeat 0.5rem 1.3rem; -webkit-background-size: 1.25rem; background-size: 1.25rem;}
.dis-com P{padding-left: 1.875rem;}
.dis-com-status{font-size: 0.75rem; color: #333333; height: 1.4rem; line-height: 1.4rem;}
.dis-com-status span{color: #bd9563;}
.dis-com-name{}
.dis-com-num{height: 1.5rem; line-height: 1.5rem; border-bottom: 1px solid #e0e1e1;}
.dis-address{font-size: 0.6rem; color: #333333; padding-top: 0.7rem; padding-bottom: 0.7rem; line-height: 0.9rem; background: url("../img/dis-add-icon.png") no-repeat left center; -webkit-background-size: 1.25rem; background-size: 1.25rem;}
.dis-trails{background-color: #fff; margin-top: 0.5rem; padding: 0 0.5rem;position: relative;}
.dis-trail{color: #999999; position: relative;}
.d-t-time{font-size: 0.6rem; line-height: 0.8rem; padding-top: 0.85rem; width: 4.2rem;}
.d-t-item{border-bottom: 1px solid #edeeee; font-size: 0.625rem; height: 100%; width: calc(100% - 4.4rem); line-height: 1.15rem;padding: 0.75rem 0;}
.d-t-item p{min-height: 2.3rem;}
.dis-trail.current{color: #bd9563;}
.dis-line{position: absolute; width: 0.05rem; top: 1.2rem; bottom: 0; left: 4.4rem;border: none; background-color: #cccccc;}
.point{width: 0.45rem; height: 0.45rem; background-color: #999999; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; position: absolute; top: 1.2rem; left: 3.7rem; z-index: 40; border: 0.1rem solid transparent;}
.current .point{background-color: #bd9563; border: 0.1rem solid #e5c7a8;}
/*==退款==*/
.return-item{padding-left: 0.65rem; line-height: 1.6rem; font-size: 0.65rem;color: #333333; background-color: #fff;}
.return-item+.return-item{margin-top: 0.5rem;}
.return-item p{height: 1.6rem;}
.return-reason{webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-box-lines: multiple; -webkit-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-wrap: wrap; padding-bottom: 0.65rem; padding-top: 0.25rem;}
.return-reason>span{height: 1.05rem; line-height: 1rem;margin-top: 0.25rem;}
.reason-item{line-height: 1rem; position: relative;}
.reason-item span{display: block; height: 1.05rem;font-size: 0.7rem; color: #595757; border: 1px solid #595757; -webkit-border-radius: 1.05rem; -moz-border-radius: 1.05rem; border-radius: 1.05rem; padding: 0 0.7rem; margin: 0.25rem 0.45rem 0 0;}
.reason-item input{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.reason-item input:checked+span{color: #fff; background-color: #923333; border-color: #923333;}
.return-item input[type="text"]{width: calc(100% - 4rem);}

.add-pic{margin-top: 0.8rem; width: 100%; position: relative; padding-bottom: 1.2rem;}
.add-pic-wrapper{position: relative;webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; }
.img-updown{width: 13.6vw; height: 13.6vw; position: relative;  background: url("../img/pic-add.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.img-updown+.img-updown{margin-left: 4vw;}
.img-btn{position: absolute; width: 100%; height: 100%; left: 0; top: 0; -webkit-opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.img-updown img{width: 100%; height: 100%; border: none; outline: none;}
.img-show[src='']{opacity: 0;}
.up-error{width: 1rem; height: 1rem; background: url("../img/img-del.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; position: absolute; top: -0.45rem; right: -0.45rem; cursor: pointer;}
/*==评价==*/
.return-item .new-list img{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.eva-content .return-item:nth-of-type(2){margin-top: 0.1rem; padding-top: 0.6rem;border-bottom: 1px solid #e8e8e8;}
.eva-text{display: block; width: 100%; height: 6rem; resize: none;}
.eva-content .return-item:nth-of-type(3){margin-top: 0;}
.eva-btn{font-size: 0.7rem; color: #bd9563; border: 1px solid #bd9563; width: 3.6rem; height: 1.3rem; line-height: 1.3rem; text-align: center; border-radius: 1.3rem; margin: 0.3rem 0.5rem;}
.comment-time span{margin-right: 0.25rem;}
.comment-pics{margin-top: 0.8rem;}
.com-img{float: left; width: 25vw; height: 25vw; overflow: hidden;}
.comment-pics img{width: 100%; min-height: 100%;}
.comment-pics .com-img+.com-img{margin-left: 4%;}
.comment-time{color: #333; font-size: 0.55rem; margin-top: 0.3rem;}
.comment-show{z-index: 999; background-color: #000; display: none;}
.comment-pic{height: 100vh; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
/*==确认付款==*/
.mallPay{background-color: #f0f0f0;}
.pay-title{color: #000; text-align: center; font-size: 0.85rem; height: 2.5rem; line-height: 3.5rem; margin-bottom: 0.15rem; font-weight: bold;}
.pay-price{color: #000; text-align: center; font-size: 1.875rem; font-weight: bold;margin-bottom: 0.4rem;}
.pay-name{background-color: #fff; height: 2.5rem; line-height: 2.5rem; padding: 0 0.75rem; font-size: 0.65rem; color: #666666;}
.pay-name-right{color: #333333;}
.pay-btn{height: 2.2rem; line-height: 2.2rem; text-align: center; color: #ffffff; font-size: 0.85rem; margin: 0.75rem; background-color: #1bab18; -webkit-border-radius: 0.15rem; -moz-border-radius: 0.15rem; border-radius: 0.25rem;}
/*==支付成功==*/
.succ-top{border-bottom: 0.375rem solid #f0f0f0;}
.succ-word{height: 3.6rem; line-height: 4.6rem; text-align: center; font-weight: bold; font-size: 1.275rem; color: #000; }
.succ-price{text-align: center; color: #923333; font-size: 0.875rem; height: 2rem; line-height: 1.5rem;}
.price-links{margin: 0.425rem 0;}
.price-links a{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid transparent; color: #333333; font-size: 0.7rem; text-align: center; width: 50%; height: 1rem; line-height: 1rem; float: left;}
.price-links a+a{border-left-color: #e5e5e5;}
.paySucc .mall-index-lists{padding-top: 0.5rem;}
/*==查看订单==*/
.mallOrder .buyer-addre{max-width: 100%;}
.mallOrder .mall-buy-p{border-color: transparent;}
.mallOrder .mall-buy-moneys{padding-bottom: 0.5rem; border-bottom: 0.5rem solid #f0f0f0;}
.mall-order-text{padding-bottom: 1.5rem;}
.mall-order-text p{height: 1.5rem; line-height: 1.5rem; font-size: 0.55rem; color: #333333; padding-left: 0.75rem;}
.to-center{position: absolute; right: 3%; bottom: 8%; margin-bottom: 8.8vw; width: 8.3vw; height: 8.3vw; background: url("../img/m-to-center.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
.mallOrder .buyer-name span{float: right; margin-right: 0.2rem;}




