@charset "utf-8";
/*早期浏览器连续点击有蓝底*/
body{-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
a, body {color: #1c1c1c;}
a, blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul,span {margin: 0;  padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box ; }
body {background: #fff;font-family: "Microsoft Yahei"; }
h1, h2, h3, h4, h5, h6 {font-weight: 400;font-size: 100% ; }
address, caption, cite, code, dfn, em, strong, th, var,i {font-style: normal;font-weight: 400; }
a { text-decoration: none; }
img {border: none ; }
li, ol, ul { list-style: none;}
input, textarea {border: none; border: 0;outline: 0;background-color: transparent;-webkit-appearance: none; resize: none;}
textarea{overflow: auto;}
button, input, select, textarea {  font: 14px Verdana, Helvetica, Arial, sans-serif ;}
table {  border-collapse: collapse; }
html {overflow-y: scroll;}
a, button, input, select, textarea { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); border-radius: 0; }
input{border: 0.1px solid transparent;}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important;  margin: 0  ;}
button, input[type=submit], input[type=reset], input[type=button], input[type=file] { -webkit-appearance: none;}
input[type=number] { -moz-appearance: textfield;  }
.clearfix:after, .clearfix:before {  content: "";  display: block;  height: 0;  clear: both;  visibility: hidden;}
.pull-left { float: left;}
.pull-right { float: right;}
.hide{display: none; }
html{font-size:20px}
@media only screen and (min-width:400px){html{font-size:21.33px!important}}
@media only screen and (min-width:414px){html{font-size:22.08px!important}}
@media only screen and (min-width:480px){html{font-size:25.6px!important}}
.page{background-color: #fff; width: 100%; height: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.container{position: absolute; left: 0; top: 0; right: 0; bottom: 0;overflow: auto; -webkit-overflow-scrolling: touch;}
.content{width: 100%; overflow-x: hidden;}
img{display: block; width: 100%;}
.po-re{position: relative;}
.flex{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.ver-center{ -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.ver-stretch{-webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch; }
.her-center{-webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }
.her-stretch{-webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between;}
.nav{position: absolute; height: 100%; top: 0; right: 0; padding-right: 1.1vw;}
.nav a{width: 9vw; float: left; height: 100%; background-image: none; position: static; margin-bottom: 0;}
.index-banners{position: relative;}
/*==sidebar==*/
.sidebar{position: absolute; left:100%; width: 100%; height: 100%; top: 0; bottom: 0; z-index: 999; display: none; background-color: #fff; opacity: 0;}
.sidebar-inner{position: absolute; width: 100%; left: 0%; top: 0; bottom: 0.1rem; }
.sidebar.show{left: 0;}
.sidebar-bg{min-height: 100vh; width: 100%; background: url("../img/sidebar-bg.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; padding-top: 1.5rem; padding-bottom: 1rem; position: relative;}
.sidebar-lists{width: 100%; padding-bottom: 3.5rem;}
.sidebar-lists li{text-align: center; height: 2.2rem; line-height:2.2rem;width: 91.3%; margin: 0 auto;}
.sidebar-lists li:not(:last-child){border-bottom: 1px solid #e1cdb1;}
.sidebar-lists a{color: #c49c63; font-size: 0.85rem;}
.sidebar-back{width: 2rem; height: 2rem; background: url("../img/index-back.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; top: 26rem; right: 10%;}
.load-btn{text-align: center; display: block; font-size: 0.6rem; margin: 0.5rem auto 0; padding-bottom: 1rem;}