@charset "utf-8";
.page{background-color: #fff; overflow: hidden;}
.page-border{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url("../img/s-border.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; z-index: 999;}
@-webkit-keyframes  fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes  fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@-webkit-keyframes  fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes  fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}
.s-arrow{width: 1.4rem; height: 1.4rem; background: url("../img/s-arrow.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; left: 50%; margin-left: -0.7rem; bottom: 4%; z-index: 1000; -webkit-animation: fadeIn 1s linear 0s infinite alternate, arrowMove 1s linear 0s infinite alternate; -o-animation: fadeIn 1s linear 0s infinite alternate, arrowMove 1s linear 0s infinite alternate; animation: fadeIn 1s linear 0s infinite alternate, arrowMove 1s linear 0s infinite alternate;}
@-webkit-keyframes arrowMove {
    from{margin-bottom: 0;}
    to{margin-bottom: 10px;}
}
@keyframes arrowMove {
    from{margin-bottom: 0;}
    to{margin-bottom: 10px;}
}
.music{width: 1.5rem; height: 1.5rem; background: url("../img/music-icon.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; right: 6%; top: 5vw; z-index: 1000; transform: rotate(0deg);}
.music.play{-webkit-animation: rotate 2s linear 0s infinite; -o-animation: rotate 2s linear 0s infinite; animation: rotate 2s linear 0s infinite;}
@-webkit-keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
/*==page1==*/
.p1-bg{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url("../img/t-p1-bg.png") no-repeat center center; -webkit-background-size: cover; background-size: cover;}
.p1-content,.p1-color{width: 86%; position: absolute; height: 150vw; max-height: 95vh;  left: 7%; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.p1-color{background: url("../img/t-p1-color.png") no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%;mix-blend-mode: multiply; opacity: 0; animation: fadeIn 1.5s linear 0.1s 1 forwards;}
.p1-title{ position: absolute; width: 66.4vw; top: 8.6vw; left: 9.8vw; opacity: 0; animation: fadeIn 1.5s linear 0.8s 1 forwards;}
.p1-pic{width: 64.5vw; position: absolute; left: 10.75vw; top: 50%; margin-top: -31vw; opacity:0; animation: fadeIn 1.5s linear 1.5s 1 forwards;}
.p1-bottom{width: 31vw; position: absolute; left: 27.5vw; bottom:7vw; opacity:0; animation: fadeIn 1.5s linear 2s 1 forwards;}
/*==p2==*/
.p2-pic{width: 100%; position: absolute; top: -3vw; left: 0; transform-origin: 0 0; transform: scale(0,0); animation: page2PicMove 1.5s ease-in 0.1s 1 forwards;}
@-webkit-keyframes page2PicMove {
    from{ transform: scale(0,0);}
    to{ transform: scale(1,1);}
}
.p2-title{width: 71%; position: absolute; top: 94vw; right: 7.4vw; opacity:0; animation: fadeIn 1s linear 1s 1 forwards;}
.p2-word{width: 85%; position: absolute; top: 109vw; left: 7.5vw; font-size: 0.6rem; color: #333; text-align: justify;letter-spacing: 1px; text-indent: 1.2rem; line-height: 0.9rem;opacity:0; animation: fadeIn 1s linear 1.5s 1 forwards;}
/*==page3==*/
.p3-pic{width: 100%; position: absolute; top: -4vw; left: 0; transform-origin: 0 0;  animation: fadeIn 1.5s ease-in 0.1s 1 forwards;}
#page3 .p2-title{width: 72.8%; top: 112vw; left: 13.6vw; right: auto;}
.p3-word{width: 80%; position: absolute; left: 10%;top: 126vw; font-size: 0.6rem; color: #333; text-align: justify; text-indent: 1.2rem; line-height: 1rem; letter-spacing: 1px; opacity: 0; animation: fadeIn 1s linear 1.5s 1 forwards;}
.p3-word p+p{ margin-top: 0.5rem;}
/*==page4==*/
.p4-part1{width: 100%; height: 23.6vh;background: url("../img/t-p4-1.png") no-repeat center center; -webkit-background-size: cover; background-size: cover; position: absolute; top: 0; left: 0;}
.p4-title{width: auto; height: 5vh; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); bottom: 100%;animation: p4TitleMove 0.8s ease-out 0.6s 1 forwards;}
@-webkit-keyframes p4TitleMove {
    from{bottom: 100%;}
    to{ bottom: 12%;}
}
.p4-icon{height: 10.3vh; width: auto; position: absolute; left: 0; top: 0; opacity: 0;animation: fadeIn 1s ease-in 0.1s 1 forwards;}
.p4-part2{width: 100%; height: 19.6vh; position: absolute; left: -100%;}
.p4-part2-1{top: 23.6vh;background: url("../img/t-p4-2.png") no-repeat center center; -webkit-background-size: cover; background-size: cover; animation: p4part2Move 1s ease-out 1s 1 forwards;}
.p4-part2-2{top: 43.2vh;background: url("../img/t-p4-3.png") no-repeat center center; -webkit-background-size: cover; background-size: cover;animation: p4part2Move 1s ease-out 1.8s 1 forwards;}
.p4-part2-3{top: 62.8vh;background: url("../img/t-p4-4.png") no-repeat center center; -webkit-background-size: cover; background-size: cover;animation: p4part2Move 1s ease-out 2.6s 1 forwards;}
.p4-part2-4{top: 82.4vh;background: url("../img/t-p4-5.png") no-repeat center center; -webkit-background-size: cover; background-size: cover;animation: p4part2Move 1s ease-out 3.4s 1 forwards;}
@-webkit-keyframes p4part2Move {
    from{left: -100%;}
    to{ left: 0%;}
}
.p4-part2 img{width: auto; height: 7.3vh; position: absolute; opacity: 0;}
.p4-part2-1 img{left: 4%; top: 18%; animation: fadeIn 0.8s ease-out 2s 1 forwards;}
.p4-part2-2 img{right: 3%; top: 18%; animation: fadeIn 0.8s ease-out 2.8s 1 forwards;}
.p4-part2-3 img{left: 4%; top: 18%; animation: fadeIn 0.8s ease-out 3.7s 1 forwards;}
.p4-part2-4 img{right: 3%; top: 18%; animation: fadeIn 0.8s ease-out 4.2s 1 forwards;}
/*==行-传统==*/
.pageSec{left: 100%; }
.pageSec-bg{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url("../img/t-secbg.png") no-repeat; -webkit-background-size:100% 100%; background-size:100% 100%;}
.trans1-pic{width: 94.8vw; position: absolute; left: 2.6vw; top: 2.74%; transform-origin: 5% 5%; transform: scale(0,0);animation: page2PicMove 1.5s ease-in 0.1s 1 forwards;}
.trans1-title{width: 72.8vw; position: absolute; left: 10%; top: 66vw; opacity: 0; animation: fadeIn 1s ease-in 1.3s 1 forwards;}
.sec-words{position: absolute; left: 10%;right: 10%; top: 82vw;}
.sec-word{opacity: 0;}
.sec-word+.sec-word{margin-top: 0.45rem;}
.sec-word p{font-size: 0.55rem; color: #333; line-height: 1rem; }
.sec-word p.title{font-size: 0.65rem; color: #f28d49; margin-bottom: 0.25rem;}
/*.sec-word p:nth-of-type(2){}*/
.sec-word:nth-of-type(1){animation: fadeIn 1s ease-in 2s 1 forwards;}
.sec-word:nth-of-type(2){animation: fadeIn 1s ease-in 2.6s 1 forwards;}
.sec-word:nth-of-type(3){animation: fadeIn 1s ease-in 3.2s 1 forwards;}
.sec-out{width: 2.2rem; height: 2.2rem; background: url("../img/t-sec-out.png") no-repeat center center; -webkit-background-size:2.1rem auto; background-size:2.1rem auto; position: absolute; left: 50%; margin-left: -1.1rem; bottom: 6%; opacity: 0;animation: fadeIn 1.5s ease-in 4s 1 forwards;}
/*==行-卡==*/
#transCard .trans1-pic{top: -50%; transform: scale(1,1);animation: trans2PicMove 1.5s ease-in 0.1s 1 forwards;}
@-webkit-keyframes trans2PicMove {
    from{top: -50%;}
    to{top: 2.88%;}
}
#transCard .trans1-title{left: 13.7vw; top: 74vw;}
#transCard .sec-words{top: 90vw;}
.sec-word p.weightB{ font-weight: bold;}
/*==行-自行车==*/
#transBike .trans1-pic{top: -50%; transform: scale(1,1);animation: trans2PicMove 1.5s ease-in 0.1s 1 forwards;}
#transBike .trans1-title{left: 13.7vw; top: 68vw;}
#transBike .sec-words{top: 85vw;}
#transBike .sec-word:nth-of-type(1){animation: fadeIn 1s ease-in 2s 1 forwards;}
#transBike .sec-word:nth-of-type(2){animation: fadeIn 1s ease-in 2.6s 1 forwards;}
/*==行-车==*/
#transCar .trans1-title{top: 75vw;}
#transCar .sec-words{top: 90vw;}
/*==page5==*/
#page5 .p4-title{height: 6.4vh;}
#page5 .p4-part2{height: 25.466vh;}
.p5-part2-1{top: 23.6vh;background: url("../img/t-p5-1.png") no-repeat center center; -webkit-background-size: cover; background-size: cover; animation: p4part2Move 1s ease-out 1s 1 forwards;}
.p5-part2-2{top: 49.066vh;background: url("../img/t-p5-2.png") no-repeat center center; -webkit-background-size: cover; background-size: cover;animation: p4part2Move 1s ease-out 1.8s 1 forwards;}
.p5-part2-3{top: 74.532vh;background: url("../img/t-p5-3.png") no-repeat center center; -webkit-background-size: cover; background-size: cover;animation: p4part2Move 1s ease-out 2.6s 1 forwards;}
#page5 .p4-part2 img{width: auto; height: 9.6vh; position: absolute; opacity: 0;}
.p5-part2-1 img{left: 4%; top: 18%; animation: fadeIn 0.8s ease-out 2s 1 forwards;}
.p5-part2-2 img{right: 3%; top: 18%; animation: fadeIn 0.8s ease-out 2.8s 1 forwards;}
.p5-part2-3 img{left: 4%; top: 18%; animation: fadeIn 0.8s ease-out 3.7s 1 forwards;}
#page5 .sec-words{ text-indent: 1.3rem;}
#page5 .sec-words p+p{margin-top: 0.5rem;}
/*==way1==*/
#wayCoach .trans1-title{left: 19%; top: 111vw;}
#wayCoach .sec-words{top: 129vw;}
/*==way2==*/
#wayCar .trans1-title{left: 19%; top: 101vw;}
#wayCar .sec-words{top: 118vw;}
 /*==way3==*/
#wayRec .trans1-pic{top: -50%; transform: scale(1,1);animation: trans2PicMove 1.5s ease-in 0.1s 1 forwards;}
#wayRec .trans1-title{left: 19%; top: 113vw;}
#wayRec .sec-words{top: 132vw;}

































/*==横屏==*/
@-webkit-keyframes rotation {
    10% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    100% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
}

@keyframes rotation {
    10% {transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    50%, 60% {transform: rotate(0deg); -webkit-transform: rotate(0deg)}
    90% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    100% {transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
}

#orientLayer { display: none }
@media screen and (min-aspect-ratio: 12/9) {
    #orientLayer { display: block }
}
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 9997 }
.mod-orient-layer__content { position: absolute; width: 100%; top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer__icon-orient { background-image: url('../img/crossWarning.png'); display: inline-block; width: 67px; height: 109px; transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); -webkit-animation: rotation infinite 1.5s ease-in-out; animation: rotation infinite 1.5s ease-in-out;
    -webkit-background-size: 67px; background-size: 67px }
.mod-orient-layer__desc { margin-top: 20px; font-size: 15px; color: #fff }





































