@charset "utf-8";
.rank-out-btn{display: block; width: 100%; height: 53.4vw; position: absolute; top: 0; left: 0;}
.to-rank-btn{position: absolute; width: 14vw; height: 14vw; left: 43%; top: 37vw;}
.toShop-btn{position: absolute; width: 50vw; height: 23.2vw; left: 25%; top: 64vw;}
.to-shop-detail{position: absolute; width: 100vw; height: 30vw; left: 0; top: 101vw;}
.shop-detail{background-color: rgba(0,0,0,0.5); display: none; padding-top: 15%;}
.qiaomai-info{width: 85%; margin: 0 auto;}
.full-screen{position: absolute; max-height: 100vh; left: 0; top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);}
.my-change{width: 16.93vw; height: 16.93vw; position: absolute; left: 41%; top: 5vw;}
.my-article{position: absolute;width: 26.93vw; height: 14.93vw; left: 16%; top: 31vw; }
.my-message{position: absolute;width: 26.93vw; height: 14.93vw; left: 60%; top: 31vw; }
.my-sugg{position: absolute; width: 80%; height: 9.07vw; left: 10%; top: 51vw;}
.my-survey{position: absolute; width: 80%; height: 9.07vw; left: 10%; top: 62vw;}
.my-active{position: absolute; width: 80%; height: 9.07vw; left: 10%; top: 73vw;}
.my-active{position: absolute; width: 80%; height: 9.07vw; left: 10%; top: 84vw;}
.my-goods{position: absolute; width: 80%; height: 9.07vw; left: 10%; top: 95vw;}
.to-home{width: 7.8vw; height: 7.8vw; position: absolute; top: 135vw; right: 1.5%;}
.message-btn{position: absolute; width: 73%; height: 9vw; top: 8vw; left: 16%;}
